*{
    padding: 0%;
    margin: 0;
    
}
.idade{
    font-size: 25px;
    margin: 15px;

}
section{
    font-size: 20px;
    margin: 15px;

}
button{
    height: 100px;
    width: 150px;
    font-size: 20px;
    margin: 15px;
}